<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">    
    
    <div class="container">
        <a class="navbar-brand" style="text-transform:uppercase"><img src="../../assets/img/Group 3747@3x.png" class="responsive" style="height: 2em;"></a>
    
        <button class="navbar-toggler " type="button" data-toggle="collapse" aria-label="button" data-target="#navbarCollapse">
    
            <span class="fa fa-bars fa-2x"></span>
    
        </button> 
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
    
        <ul class="nav navbar-nav ml-auto">
    
            <li class="nav-item">
    
                <a class="nav-link" routerLinkActive='active' routerLink="/home">home</a>
    
            </li>
        
            <li class="nav-item">
    
                <a class="nav-link">pages</a>
            
            </li>
    
            <li class="nav-item dropdown">
                <a  class="nav-link " >about</a>
                
            </li>

            <li class="nav-item dropdown">
                <a  class="nav-link" routerLinkActive='active' routerLink="/privacy">privacy</a>
                
            </li>

            <li class="nav-item dropdown">
                <a  class="nav-link" routerLinkActive='active' routerLink="/terms">terms</a>
                
            </li>
    
            <li class="nav-item" >
    
                <a style="cursor: pointer" routerLink="/login"><button class="btn btn-secondary" type="button">Login</button></a>
                
            </li>  
    
        </ul>
    
    </div>
    </div>
   
  </nav>