.footer{
    color: #fff;
    text-align: center;
    padding: 2em 0 2em 0;
    background-color: #f8f9fa;
    width: 100%;
}

img{
    margin: 10px;
}

span{
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}