/* h3{
	padding-bottom: 25px;
	color:#3281ff;
	text-align: center;

}	

.card{
	margin-top: 100px;
	margin-bottom:50px;
	padding:20px;
	box-sizing: border-box;
	background: #f8f9fa;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}	

#head{
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 15px;
	text-align: center;
}

input{
	background:#ecf0f3;
	padding:10px;
	padding-left: 20px;
	height:50px;
	font-size: 14px;
	
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

label{
	text-transform: capitalize;
	font-weight: 400;
}

.btn{
	margin-top:10px;
	background: #3281ff;
	height: 40px;
	width: 100%;
	border-radius:0%;
	cursor: pointer;
	font-weight: 900;
	transition: 0.5s;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
	color: white !important;

}

.btn:hover{
	outline: 0px !important;
}

.btn:focus,.btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

.google_btn{
	background:transparent;
	height: 40px;
	width: 100%;
	border-radius:0%;
	cursor: pointer;
	font-weight: 900;
	color: black !important;   
}
.google_btn:focus,.google_btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

input:focus,input:active {
	outline:none !important;
    box-shadow: none !important;
    border-color: #3281ff ;
}

.links a{
	color:#4D80E4;
	cursor: pointer;

}
.links{
    text-align: center;
}

.login_container p{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
}

span{
    padding-top:20px
}

.text-center p{
	font-size: 20px;
	
} */

h3{
	padding-bottom: 25px;
	color:#3281ff;

}	

.container{
	margin-top: 100px;
	margin-bottom:50px;
	width:380px;
	height: unset;
	padding: 40px;
	box-sizing: border-box;
	background: #f8f9fa;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}	

.text-center p{
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 15px;
}

input{
	background:#ecf0f3;
	padding:10px;
	padding-left: 20px;
	height:50px;
	font-size: 14px;
	
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.btn{
	margin-top:10px;
	background: #3281ff;
	height: 40px;
	width: 100%;
	border-radius:0%;
	cursor: pointer;
	font-weight: 900;
	transition: 0.5s;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
	color: white !important;

}

.btn:hover{
	outline: 0px !important;
}

.btn:focus,.btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

.google_btn{
	background:transparent;
	height: 40px;
	width: 100%;
	border-radius:0%;
	font-weight: 900;
	color: black !important;   
}
.google_btn:focus,.google_btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

input:focus,input:active {
	outline:none !important;
    box-shadow: none !important;
    border-color: #3281ff ;
}

.links a{
	color:#4D80E4

}
.links{
    text-align: center;
}

.login_container p{
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
}

span{
    padding-top:20px
}

@media  (max-width:767px){
	.container{
		width: 360px;
	}
}
