/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

@import "~bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.css";
@import 'aos/dist/aos.css';


body{
    font-family: 'Nanum Myeongjo', serif;
}