
    <!-- <div class="fixed-background bg-primary" >
           <div class="container">
                <div class="d-flex " id="second">
                    <div class="col-md-6 col-sm-12 mt-5">
                        <h1>Connect <br>With Colleagues<br> Real-time.</h1>
                        <p>schools, professional bodies or companies
                            can have their own profile which they can use to
                            communicate with its members, followers or colleagues.</p>

                        <div class="d-flex mt-5" style="margin-left: -15px;">
                            <a href="" class="btn btn-md"><img src="../../assets/img/app-store_top.svg" style="width:160px"></a>
                            <a href="" class="btn btn-md"><img src="../../assets/img/playstore_top.svg" style="width:160px"></a>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="../../assets/img/Group 2 copy 2@3x.png" class="responsive" style="height: 40em; width:30em">  
                    </div>
                </div>
             </div>
        <div class="home-wrap ">
         
            <div class="home-inner">

            </div>
        </div>
    </div> -->

    <div class="first">
        <div class="container" id="second">
            <div class="row">
                <div class="col-md-6 col-sm-12 mt-5">
                    <h1>Connect <br>With myPal<br> Real-time.</h1>
                    <p>schools, professional bodies or companies
                        can have their own profile which they can use to
                        communicate with its members, followers or myPal.</p>
                    <div class="d-flex mt-5" style="margin-left: -15px;">
                        <a href="" class="btn btn-md"><img src="../../assets/img/app-store_top.svg" style="width:160px"></a>
                        <a href="" class="btn btn-md"><img src="../../assets/img/playstore_top.svg" style="width:160px"></a>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="../../assets/img/Group 2 copy 2@3x.png" class="responsive" style="height: 40em; width:30em">  
                </div>
            </div>
        </div>
    </div>

    <div class="lay">
        <div class="container">
           <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="media one ">
                    <div class="media-body">
                        <img src="../../assets/img/calender-sm.png"><br>
                        <h5>collaborate on projects</h5>
                        <small>you can easily collaborate on any projects with myPal, members or followers.</small>
                  
                    </div>      
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media one ">
                    <div class="media-body">
                        <img src="../../assets/img/contact-sm.png"><br>
                        <h5>professional board</h5>
                        <small>a discussion forum where all professional chat and users can ask questions and get answers.</small>
        
                    </div>      
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media one ">
                    <div class="media-body">
                        <img src="../../assets/img/folder-sm.png"><br>
                        <h5>research/journal board</h5>
                        <small>designed to suit users who want to research in different fields of learning.</small>
                    
                    </div>      
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="media one ">
                    <div class="media-body">
                        <img src="../../assets/img/calender-sm.png"><br>
                        <h5>collaborate on projects</h5>
                        <small>you can easily collaborate on any projects with myPal, members or followers.</small>

                    </div>      
                    </div>
                </div>
           </div>
        </div>
    </div>

    <div class="next">

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-12 mt-5 mt-3">

                    <img src="../../assets/img/Group 2 copy 3@3x.png"class="responsive" style=" width:25em;">

                </div>

                <div class="col-md-6 col-sm-12 mt-5 mb-3">

                    <h1>Easy to<br> Collaborate<br> with myPal</h1>
                    <p class="w-75">Designed To Suit Users Who Wants To Research In Different Fields Of Learning.</p>
                    <li>Text Editor</li>
                    <li>Media Attachment</li>
                    <li>User Invites</li>
                    <li>Share Research</li>

                </div>

            </div>

        </div>

    </div>

    <div class="nxt">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-sm-12 mt-5 mb-3">
                    <h1>Users can work on the same project Simultaneously</h1>
                    <p class="w-75">originator can share files on read only. users can upload drawings and pictures. users can also share  projects with the public for reviews.</p>
                    <li>Create Sub-tasks</li>
                    <li>Text Editor</li>
                    <li>Media Attachment</li>
                    <li>Team Invites</li>
                </div>
                <div class="col-md-6 col-sm-12 mt-5 mb-5">
                    <img src="../../assets/img/Group 2 copy 4@3x.png" class="responsive" style=" width:33em;">
                </div>
            </div>
        </div>
    </div>

