<div class="container">

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">

            <div class=" form_container">
      
                <form >
                
                  <div class="container">
      
                    <div class="row">
                      <!-- **Personal Information** -->
                      <div class="col-md-12">
                        <h3>Create Account</h3>
                      </div>
                     
       
      
                    <!-- **//Firstname**// -->
                      <div class="form-group col-md-6 col-sm-12">
      
                            <label for="first_name">Firstname</label>
      
                              <input
                              type="text"
                              id="first_name"
                              placeholder="firstname"
                              class="form-control"
                             />
              
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
      
                          <label for="lastname">lastname</label>
      
                            <input
                            type="text"
                            placeholder="lastname"
                            class="form-control"
      
                           />
            
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
      
                        <label for="username">username</label>
    
                          <input
                          type="text"
                          placeholder="username"
                          class="form-control"
    
                         />
          
                    </div>
       
            
                    <!-- **//Email**// -->
                    <div class="form-group col-md-12 col-sm-12">
      
                        <label for="email">email address</label>
        
                          <input
                            type="email"
                            id="email"
                            placeholder="Your Email"
                            class="form-control"
                         
                            required
                            name="email"
                          
                            />
                         
                  </div>
                                      <!-- **//Phone_number**// -->
                      <div class="form-group col-md-12 col-sm-12">
      
                          <label for="phone_number">Phone Number</label>
                               
                            <input
                              type="text"
                              id="phone_number"
                              placeholder="Your Phone Number"
                              class="form-control"
      
                              name="phone_number"
                              required
      
                              />
      
                      </div>
                                          <!-- **//Phone_number**// -->
                      <div class="form-group col-md-12 col-sm-12">
      
                          <label for="password">password</label>
                               
                            <input
                              type="password"
                           
                              placeholder="Password"
                              class="form-control"
                              required
      
                              />
      
                      </div>
                    <!-- **//Gender**// -->
                      <div class="form-group col-md-12 col-sm-12">
            
                        <label for="gender">Gender</label>
                        <select 
                        class="form-control"                   
                        required
                        name="gender"
                        >
                        
                        <option>male</option>
                        <option>female</option>
          
                        </select>
                    
                      </div>
                    
                    <!-- **//D_O_B**// -->
                    <div class="form-group col-md-12 col-sm-12">
                      <label for="date_of_birth">Date of birth</label>
        
                          <input
                            type="date" 
                            id="date"
                            placeholder="Your D_O_B"
                            class="form-control"
                           
                            required
                            name="date_of_birth"
                            minlength="6"
                           />
      
                    </div>
      
                    <div class="col-md-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingChec">
                            <label class="form-check-label" for="autoSizingChec">
                              Subscribe to Newsletter
                            </label>
                          </div>
                    </div>
      
                    <div class="col-md-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                            <label class="form-check-label" for="autoSizingCheck">
                              i agree with the <a>terms and condition </a> and <a>privacy policy</a>
                            </label>
                          </div>
                    </div>
                        <!-- SignUp -->
                    <div class="form-group col-md-12">
            
                        <button class="btn">Sign Up</button>
            
                    </div>
      
                    <div class="col-md-12">
                        <p class="link">Have an Account? <a>login</a></p>
                    </div>
                        
                    </div>
             
                  </div>
            
                </form>
      
                  <!-- <div class="alert alert-success" *ngIf="isSuccessful">
      
                     Already Registered!
      
                  </div> -->
      
             </div>
            
          </div>
    </div>
</div>
    
</div>
