<!-- <div class="container">

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card" data-aos="fade-up" data-aos-offset="200">

            <div class=" form_container">
      
                <form [formGroup]="reactiveForm">
                
                  <div class="container">
      
                    <div class="row">

                      <div class="col-md-12">
                        <h3>Create Account</h3>
                      </div>
      
                  
                    <div class="form-group col-md-6 col-sm-12">
      
                            <label for="firstname">Firstname</label>
      
                              <input
                              type="text"
                              formControlName="firstname"
                              placeholder="Daniel"
                              class="form-control"
                              ngModel
                             >
              
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
      
                          <label for="lastname">lastname</label>
      
                            <input
                            type="text"
                            placeholder="Ezechukwu"
                            class="form-control"
                            formControlName="lastname"
                            ngModel
                           />
            
                    </div>

                    <div class="form-group col-md-12 col-sm-12">
      
                        <label for="username">username</label>
    
                          <input
                          type="text"
                          placeholder="devKreate@12"
                          class="form-control"
                          formControlName="username"
                          ngModel
                         />
          
                    </div>
       
                 
                    <div class="form-group col-md-12 col-sm-12">
      
                        <label for="email">email address</label>
        
                          <input
                            type="email"
                            id="email"
                            placeholder="someone@example.com"
                            class="form-control"
                            formControlName="email"
                            required
                            name="email"
                          
                            />
                         
                    </div>

                
                    <div class="form-group col-md-12 col-sm-12">
      
                          <label for="phone_number">Phone Number</label>
                               
                            <input
                              type="tel"
                              placeholder="08025030347"
                              class="form-control"
                              formControlName="phone_number"
                              ngModel
                              required
      
                              />
      
                    </div>

                 
                    <div class="form-group col-md-12 col-sm-12">
      
                        <label for="password">password</label>
                               
                          <input
                            type="password"
                           formControlName="password"
                            placeholder="*****"
                            class="form-control"
                            required
                            ngModel
                          >
      
                    </div>

                    <div class="form-group col-md-12 col-sm-12">
            
                        <label for="gender">Gender</label>
                        <select 
                        class="form-control"  
                        formControlName="gender"                
                        required
                        ngModel
                        >
                        
                        <option>male</option>
                        <option>female</option>
          
                        </select>
                    
                    </div>
                    
                
                    <div class="form-group col-md-12 col-sm-12">
                      <label for="date_of_birth">Date of birth</label>
        
                          <input
                            type="date" 
                            class="form-control"
                            formControlName="date_of_birth"
                            required
                            name="date_of_birth"
                            ngModel
                          >
      
                    </div>
      
                    <div class="col-md-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingChec">
                            <label class="form-check-label" for="autoSizingChec">
                              Subscribe to Newsletter
                            </label>
                          </div>
                    </div>
      
                    <div class="col-md-12">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                            <label class="form-check-label" for="autoSizingCheck">
                              i agree with the <a>terms and condition </a> and <a>privacy policy</a>
                            </label>
                          </div>
                    </div>

                    <div class="form-group col-md-12">
            
                        <button class="btn">Sign Up</button>
            
                    </div>
      
                    <div class="col-md-12">
                        <p class="link">Have an Account? <a (click)="login()">Login</a></p>
                    </div>
                        
                    </div>
             
                  </div>
            
                </form>
      
             </div>
            
          </div>
    </div>
</div>
    
</div> -->


<div class="container" data-aos="fade-up">
   
  <form [formGroup]="reactiveForm" >
   <h3>Create an Account</h3>
      <div class="row">
         
          <div class="form-group col-md-6">
              <label for="firstname">first name</label>
              <input type="text" class="form-control" formControlName="firstname" ngModel>
          </div>
          <div class="form-group col-md-6">
              <label for="lastname">last name</label>
              <input type="text" class="form-control" formControlName="lastname" ngModel>
          </div>
          <div class="form-group col-md-12">
              <label for="username">username</label>
              <input type="text" class="form-control" formControlName="username" ngModel>
          </div>
          <div class="form-group col-md-12">
              <label for="email">email</label>
              <input type="email" class="form-control" formControlName="email" ngModel>
          </div>
          <div class="form-group col-md-12">
              <label for="phone">phone number</label>
              <input type="tel" class="form-control" formControlName="phone_number" ngModel>
          </div>
          <div class="form-group col-md-12">
              <label for="password">password</label>
              <input type="password" class="form-control" formControlName="password" ngModel>
          </div>

          <div class="form-group col-md-12">
            
            <label for="gender">Gender</label>
            <select class="form-control" formControlName="gender" ngModel>
            
              <option>male</option>
              <option>female</option>

            </select>
        
        </div>

          <div class="form-group col-md-12">
              <label for="date_of_birth">date of birth</label>
              <input type="date" class="form-control" formControlName="date_of_birth" ngModel>
          </div>
          <div class="col-md-12">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingChec">
                <label class="form-check-label" for="autoSizingChec">
                  Subscribe to Newsletter
                </label>
              </div>
        </div>

        <div class="col-md-12">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  i agree with the <a>terms and condition </a> and <a>privacy policy</a>
                </label>
              </div>
        </div>
          <div class="col-md-12">
              <button class="btn  btn-primary login_btn">Sign Up</button>
          </div>
          <div class="mt-4 col-md-12">
   
              <p class="mb-5 link">Have an account? <a (click)="login()">Login</a></p>
   
         </div>
      </div>
  </form>

</div>