 .card {

	margin-top: 100px;
	margin-bottom:30px;
 	background:#f8f9fa;
	 padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
 
 }
 input,select{
	background:#ecf0f3;
	padding:10px;
	padding-left: 20px;
	/* height:50px; */
	font-size: 14px;
}

.form-group input,select{
	height: 37px;
}
.btn{
	margin-top:10px;
	background: #3281ff;
	height: 40px;
	width: 100%;
	border-radius:0%;
	cursor: pointer;
	font-weight: 900;
	transition: 0.5s;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
	color: white !important;

}

.btn:hover{
	outline: 0px !important;
}

.btn:focus,.btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

input,select:active,input,select:focus{
    outline:none !important;
    box-shadow: none !important;
    border-color: transparent;
}



label{
	text-transform: capitalize;
	font-weight: 400;
}

.pl-4{
	text-transform: capitalize;

}
.link{
	text-align: center;
}

label a, .link a{
	color: #3281ff;
	cursor: pointer;
}


@media(max-width:767px){
	h3{
		font-size: 20px;
	}

	label{
		font-size: 12px;
		font-weight: 300;
	}
	.link{
		font-size: 15px;
	}
}