
.container{
	margin-top: 80px;
	margin-bottom:0px;
	width:550px;
	padding: 25px;
	box-sizing: border-box;
	background: #f8f9fa;
	box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}	

input{
	background:#ecf0f3;
	padding:10px;
	padding-left: 20px;
	height:40px;
	font-size: 14px;
    border-color: transparent;
    outline: none !important;

}

.btn{
	margin-top:10px;
	background: #3281ff;
	height: 40px;
	width: 100%;
	border-radius:0%;
	cursor: pointer;
	font-weight: 900;
	transition: 0.5s;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
	color: white !important;

}

.btn:hover{
	outline: 0px !important;
}

.btn:focus,.btn:active {
	box-shadow: none !important;
	outline: 0px !important;
	border-color: transparent !important;
}

input:focus,input:active {
	outline:none !important;
    box-shadow: none !important;
    border-color: #3281ff ;
}



label{
	text-transform: capitalize;
	font-weight: 400;
}

.pl-4{
	text-transform: capitalize;

}

label a, .link a{
	color: #3281ff;
}
